# Database Configuration
DATABASE_URL="postgresql://username:password@localhost:5432/mydb1?schema=public"

# JWT Configuration
JWT_SECRET="your-super-secret-jwt-key"

# MinIO Configuration
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=backups
MINIO_USE_SSL=false